language: python
dist: bionic
matrix:
  include:
    - python: 3.6
      env: PYENV=py36
    - python: 3.8.2
      env: PYENV=py38
before_install:
  - sudo apt-get install -y libgsl0-dev openmpi-bin libopenmpi-dev python-dev
install:
  - source ci/install.sh
script:
  - bash ci/test_script.sh
after_success:
  - bash ci/upload_coveralls.sh
cache:
  directories:
    - $HOME/nest-3.0
    - $HOME/nrn-7.7
    - $HOME/build/nest-3.0
    - $HOME/build/nrn-7.7
    - $HOME/.cache/pip
