language: python
dist: trusty
sudo: required
matrix:
    include:
        - python: 2.7
          env: PYENV=py27
        - python: 3.3
          env: PYENV=py33
        - python: 3.6
          env: PYENV=py36
install:
    - source ci/install.sh
script:  bash ci/test_script.sh
after_success:
  - coveralls
cache:
  directories:
    - $HOME/nest-2.18.0
    - $HOME/nrn-7.5
    - $HOME/build/nest-2.18.0
    - $HOME/build/nrn-7.5
    - $HOME/.cache/pip
