language: python
dist: bionic
matrix:
  include:
    - python: 3.7
      env: PYENV=py37
    - python: 3.8
      env: PYENV=py38
    - python: 3.9
      env: PYENV=py39
before_install:
  - sudo add-apt-repository -y ppa:nest-simulator/nest
  - sudo apt-get -y update
  - sudo apt-get install -y libgsl0-dev openmpi-bin libopenmpi-dev python-dev
install:
  - source ci/install.sh
script:  bash ci/test_script.sh
after_success:
  - bash ci/upload_coveralls.sh
cache:
  directories:
    - $HOME/nrn-8.0.0
    - $HOME/.cache/pip
