include src/hoc/*.mod
include src/hoc/*.hoc
include test/*tests.py
include test/brunel.py
include test/simpleNetwork*.py
include test/VAbenchmarks.py
include test/IF_curr_*.py
include test/small_network.py
include doc/*.txt

