include pyNN/neuron/nmodl/*.mod
include pyNN/nest/extensions/*.h
include pyNN/nest/extensions/*.cpp
include pyNN/nest/extensions/CMakeLists.txt
include pyNN/nest/extensions/sli/*
include pyNN/descriptions/templates/*/*.txt
include test/system/*.py
include test/system/scenarios/*.py
include test/unittests/*.py
include examples/*.py
include doc/*.txt
include doc/*/*.txt
include LICENSE
include AUTHORS
include README.rst
include changelog
include requirements.txt
