#content ul:not(.search) {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-top: 0.8rem;
}

#content ul:not(.search) p,
#content ul:not(.search)>li {
    margin-top: 0.8rem
}

#content section>p {
    line-height: 1.75rem;
    margin-top: 0.8rem
}

.contents,
.toctree-wrapper {
    font-size: 1rem;
    line-height: 1.25rem
}

.contents ul li a.reference,
.toctree-wrapper ul li a.reference {
    color: hsl(var(--foreground)) !important;
    display: inline-block;
    font-weight: 600 !important;
    text-decoration-line: none !important;
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}